*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FA8072;
}
.clock{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: lightgray;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}
 .number div{
    position: absolute;
    font-weight: bold;
    font-size: 27px;
    color: lightgoldenrodyellow;
    text-shadow: 1px 1px 2px rgb(0,0,0,0.7);
 }
 .tweleve{
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
 }
    .one{
        top: 15%;
        right: 28%;
        transform: translateY(-50%);
    }
    .two{
        top: 25%;
        right: 15%;
        transform: translateX(50%);
    }
    .three{
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
    .four{
        bottom: 30%;
        right: 10%;
        transform: translateY(50%);
    }
    .five{
        bottom: 15%;
        right: 25%;
        transform: translateY(50%);
    }
    .six{
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
    }
    .seven{
        bottom: 15%;
        left: 25%;
        transform: translateY(50%);
    }
    .eight{
        bottom: 30%;
        left: 10%;
        transform: translateY(50%);
    }
    .nine{
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
    .ten{
        top: 25%;
        left: 15%;
        transform: translateX(-50%);
    }
    .eleven{
        top: 15%;
        left: 25%;
        transform: translateY(-50%);
    }
    .arrows{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrows::before{
        content: '';
        width: 25px;
        height: 25px;
        background-color: darkgreen;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        z-index: 4;
    }

    .arrows div{
        width: 7px;
        height: 120px;
        background-color: white;
        position: absolute;
        bottom: 50%;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        border-radius: 50% 50% 0 0;
        transform-origin: bottom center;
        z-index: 3;
    }
    .arrows .hour{
        height: 80px;
        transform: rotate(30deg);
    }
    .arrows .second{
        background-color: goldenrod;
        transform: rotate(250deg);  
    }